<div class="legal-footer-content">
    <div class="legal-footer-left">
        <img src="/assets/midAxioFull.png" alt="midAxio Logo" class="info-footer-logo">

        <p class="info-footer-disclaimer">
            midAxio isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games
            or anyone officially involved in producing or managing Riot Games properties.
            Riot Games and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
        </p>
    </div>

    <div class="info-footer-right">
        <a href="#" class="info-footer-link">Twitter</a>
        <a href="#" class="info-footer-link">Discord</a>
        <a href="#" class="info-footer-link">GitHub</a>
    </div>
</div>
