<div class="nav-left">
    <a href="index.html" class="nav-logo-link">
        <img src="assets/midAxioMedium.png" alt="M" class="collapsed-img">
        <img src="assets/midAxioFull.png" alt="midAxio" class="expanded-logo">
    </a>
</div>
<div class="nav-right">
    <div id="loggedOutLinks" style="display: flex;">
        <a href="login.html" class="nav-button">Login</a>
    </div>

    <div id="loggedInLinks" style="display: none;">
        <a href="account.html" class="nav-button">Account</a>
    </div>
</div>