<select id="regionSelect" class="region-dropdown">
    <option value="NA1">North America</option>
    <option value="EUW1">EU West</option>
    <option value="EUN1">EU Nordic & East</option>
    <option value="KR">Korea</option>
    <option value="BR1">Brazil</option>
    <option value="JP1">Japan</option>
    <option value="LA1">LAN</option>
    <option value="LA2">LAS</option>
    <option value="OC1">Oceania</option>
    <option value="TR1">Turkey</option>
    <option value="RU">Russia</option>
    <option value="PH2">Philippines</option>
    <option value="SG2">Singapore</option>
    <option value="TH2">Thailand</option>
    <option value="TW2">Taiwan</option>
    <option value="VN2">Vietnam</option>
</select>